# Περιγραφή

# Εισαγωγή βιβλιοθηκών

In [206]:
import numpy as np
import pandas as pd

# Εισαγωγή

In [207]:
csv_path = '../Data/CSVs/first_complete_df.csv'
df = pd.read_csv(csv_path, index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170433 entries, 0 to 170432
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DateTime  170433 non-null  object
 1   Title     49760 non-null   object
 2   Text      127678 non-null  object
 3   Info      170432 non-null  object
 4   Subject   170433 non-null  object
 5   Target    170433 non-null  int64
dtypes: int64(1), object(5)
memory usage: 9.1+ MB

In [208]:
df.head(5)

,DateTime,Title,Text,Info,Subject,Target
0,2016-08-18 20:55:25,Quebec to recieve 10 billion of 18 billion dol...,NaN,Reddit post,subject3178,0
1,2016-08-25 02:07:48,What are some lesser known tactics to get a be...,NaN,Reddit post,subject3178,0
2,2016-09-03 03:51:40,What are some old sayings that aren't very pop...,NaN,Reddit post,subject3178,0
3,2016-09-06 00:30:20,(Canada)Just starting fourth year: is there an...,Is there any material/study questions anyone t...,Reddit post,subject3178,0
4,2016-10-03 21:46:54,Taking to the streets - Soldiers of Odin are n...,NaN,Reddit post,subject3178,0

# Missing Values

Σ

In [190]:
def create_nan_series():
    '''
    Create a Pandas Series with number of NaNs per column
    '''
    col_names = []
    col_nans  = []
    for col in df.columns:
        col_names.append(col)
        col_nans.append(df[col].isnull().sum())
    
    sr_nans   = pd.Series(data=col_nans, index=col_names)
    return (sr_nans)

In [191]:
create_nan_series()

DateTime         0
Title       120673
Text         42755
Info             1
Subject          0
Target           0
dtype: int64

### Filling NaN in Info col

In [192]:
df.Info.value_counts()

Reddit post    170432
Name: Info, dtype: int64

In [193]:
df.drop('Info', axis=1, inplace=True)

### Title and Text col

In [194]:
df_Title_isna = df[df.Title.isna()]
df_both_nans = df_Title_isna[df.Text.isna()]

len(df_both_nans)

/home/kaml/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

0

## Ένωση των πεδίων Title και Text

In [195]:
df.Title.fillna('', inplace=True)
df.Text.fillna('', inplace=True)

df["Text"] = df["Title"] + df["Text"]

df.drop('Title', axis=1, inplace=True)

In [200]:
df.head(15)

,DateTime,Text,Subject,Target
0,2016-08-18 20:55:25,Quebec to recieve 10 billion of 18 billion dol...,subject3178,0
1,2016-08-25 02:07:48,What are some lesser known tactics to get a be...,subject3178,0
2,2016-09-03 03:51:40,What are some old sayings that aren't very pop...,subject3178,0
3,2016-09-06 00:30:20,(Canada)Just starting fourth year: is there an...,subject3178,0
4,2016-10-03 21:46:54,Taking to the streets - Soldiers of Odin are n...,subject3178,0
5,2016-10-26 04:58:44,I was really hoping for a campaign story from ...,subject3178,0
6,2016-10-27 02:47:44,Feds may impose gender quotas on corporations ...,subject3178,0
7,2016-12-11 07:16:13,[Main spoilers] Dany may have some troubleSo w...,subject3178,0
8,2017-01-03 18:28:37,Another view of the Taj Mahal that most don't ...,subject3178,0
9,2017-01-04 02:38:48,gt;My questions are philosophical not factual...,subject3178,0
10,2017-01-04 02:40:09,I think I see it from here,subject3178,0
11,2017-01-04 04:20:21,Time played though #128561; #128561; #128561;...,subject3178,0
12,2017-01-04 04:57:59,"Holy, you poor guy.",subject3178,0
13,2017-01-04 05:11:40,Hahahahahaha,subject3178,0
14,2017-01-04 05:31:22,"Blame is not a solution. Start with square 1, ...",subject3178,0

## Διαγραφή της στήλης Info

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170433 entries, 0 to 170432
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DateTime  170433 non-null  object
 1   Text      170433 non-null  object
 2   Subject   170433 non-null  object
 3   Target    170433 non-null  int64
dtypes: int64(1), object(3)
memory usage: 11.5+ MB

# Εξαγωγή

In [199]:
csv_path = '../Data/CSVs/removed_Info_merged_Text_df.csv'
df.to_csv(csv_path)