# Περιγραφή

Στο συγκεκριμένο notebook αποτυπώνεται η διαδικασία της επεξεργασία των δεδομένων (raw data), τα οποία βρίσκονται σε **xml** format, έτσι ώστε να αποτυπωθούν με τη μορφή ένος **DataFrame** (από τη βιβλιοθήκη pandas της python).

Η εν λόγω διαδικασία αποτελεί ένα παράδειγμα και αναφέρεται στα δεδομένα που εξήχθησαν από **έναν** άνθρωπο (subject). 

Η κατανόηση του παραδείγματος θα βοηθήσει στη γενίκευση της διαδικασίας για όλους τους χρήστες.

# Εισαγωγή βιβλιοθηκών

In [36]:
import os
import xml.etree.ElementTree as et
import pandas as pd

# Επεξεργασία δεδομένων

Προεπισκόπηση της μορφής των δεδομένων (xml format)

<img src=../Images/raw_data_preview_example.png align="left"/>

|  TAGS   |     CHILDREN     |
|---------|------------------|
|  ID     |         -        |
| WRITING | DATE, TEXT, INFO |
| WRITING | DATE, TEXT, INFO |
| WRITING | DATE, TEXT, INFO |
|   ...   |      ...         |

In [40]:
tree = et.parse('/home/kaml/Documents/ERPI/Data/data/subject47.xml')
root = tree.getroot()

In [41]:
for ID in root.findall('ID'):
    identity = ID.text
    print (identity)

subject47

In [49]:
def check_if_NoneType(child):
    '''
    Avoid AttributeError: 'NoneType' object has no attribute 'text'
    '''
    if writing.find(child) is not None:
        return writing.find(child).text
    else:
        return 'NaN'

datetimes = []
texts = []
infos = []
for writing in root.findall('WRITING'):
    datetimes.append(check_if_NoneType('DATE'))
    texts.append(check_if_NoneType('TEXT'))
    infos.append(check_if_NoneType('INFO'))

In [50]:
zippedList =  list(zip(datetimes, texts, infos))
df = pd.DataFrame(data=zippedList, columns=['DateTime', 'Text', 'Info'])
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Subject'] = identity

In [51]:
df.head()

,DateTime,Text,Info,Subject
0,2013-06-20 13:24:41,Chapsticks. Always. Never fails. I've invested...,Reddit post,subject47
1,2013-06-20 13:27:38,Same here. I stopped carrying make up in my ba...,Reddit post,subject47
2,2013-06-22 09:27:30,What a scumbag.,Reddit post,subject47
3,2013-06-26 11:30:13,What the hell is a paradox? I have googled it ...,Reddit post,subject47
4,2013-06-26 12:50:14,I'm still... This is why I don't ask... Thank ...,Reddit post,subject47

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DateTime  436 non-null    datetime64[ns]
 1   Text      436 non-null    object
 2   Info      436 non-null    object
 3   Subject   436 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 13.8+ KB